USE [BAR]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 17/10/2018 17:25:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[id_empleado] [int] NOT NULL,
	[nombre_empleado] [varchar](max) NULL,
	[apellidopat] [varchar](max) NULL,
	[apellidomat] [varchar](max) NULL,
	[municipio] [varchar](max) NULL,
	[edad] [int] NULL,
	[telefono] [int] NULL,
	[correo] [varchar](max) NULL,
	[sueldo] [int] NULL,
	[id_puesto] [int] NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Reporte]    Script Date: 17/10/2018 17:25:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Reporte] AS (
SELECT e.nombre_empleado + ' ' + e.apellidopat + ' ' + e.apellidomat AS [Nombre Completo],
MAX(e.edad) as [Edad del Empleado]
FROM Empleado as e
LEFT JOIN Empleado ON e.id_empleado = e.edad
GROUP BY e.nombre_empleado + ' ' + e.apellidopat + ' ' + e.apellidomat)
GO
/****** Object:  View [dbo].[ReporteEmpleado]    Script Date: 17/10/2018 17:25:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ReporteEmpleado] AS (
SELECT e.nombre_empleado + ' ' + e.apellidopat + ' ' + e.apellidomat AS [Nombre Completo],
MAX(e.edad) AS [Edad del Empleado], MAX(e.sueldo) AS [Sueldo del Empleado] 
FROM Empleado AS e
LEFT JOIN Empleado ON e.id_empleado = e.edad
GROUP BY e.nombre_empleado + ' ' + e.apellidopat + ' ' + e.apellidomat)
GO
/****** Object:  View [dbo].[ReporteBonificacion]    Script Date: 17/10/2018 17:25:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ReporteBonificacion] AS (
SELECT e.nombre_empleado + ' ' + e.apellidopat + ' ' + e.apellidomat AS [Nombre Completo],
MAX(e.sueldo) AS [Sueldo del Empleado], MAX(e.sueldo*0.15 + e.sueldo) AS [Bonificacion de sueldo]
FROM Empleado AS e
LEFT JOIN Empleado ON e.id_empleado = (e.sueldo*0.15 )
GROUP BY e.nombre_empleado + ' ' + e.apellidopat + ' ' + e.apellidomat)
GO
/****** Object:  View [dbo].[ReporteISPT]    Script Date: 17/10/2018 17:25:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ReporteISPT] AS (
SELECT e.nombre_empleado + ' ' + e.apellidopat + ' ' + e.apellidomat AS [Nombre Completo],
MAX(e.sueldo) AS [Sueldo del Empleado], MAX((e.sueldo*0.15 + e.sueldo) - 110) AS [Sueldo con Bonificacion menos ISPT]
FROM Empleado AS e
LEFT JOIN Empleado ON e.id_empleado = e.sueldo
GROUP BY e.nombre_empleado + ' ' + e.apellidopat + ' ' + e.apellidomat)
GO
/****** Object:  Table [dbo].[Almacen alimentos]    Script Date: 17/10/2018 17:25:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Almacen alimentos](
	[id_alimento] [int] NOT NULL,
	[nombre_alimento] [varchar](50) NULL,
	[id_ingrediente] [int] NULL,
 CONSTRAINT [PK_Almacen alimentos] PRIMARY KEY CLUSTERED 
(
	[id_alimento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredientes]    Script Date: 17/10/2018 17:25:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredientes](
	[id_ingrediente] [int] NOT NULL,
	[name_ingrediente] [varchar](max) NULL,
 CONSTRAINT [PK_Ingredientes] PRIMARY KEY CLUSTERED 
(
	[id_ingrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ReporteAlimentos]    Script Date: 17/10/2018 17:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ReporteAlimentos] AS (
SELECT aa.nombre_alimento AS [Nombre del Alimento], ing.name_ingrediente AS [Nombre del ingrediente],
MAX(id_alimento) AS [Identificador del Alimento]
FROM [Almacen alimentos] AS aa
INNER JOIN Ingredientes AS ing  ON aa.id_alimento = ing.id_ingrediente
GROUP BY aa.nombre_alimento , ing.name_ingrediente)
GO
/****** Object:  Table [dbo].[Almacen Bebidas]    Script Date: 17/10/2018 17:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Almacen Bebidas](
	[id_bebida] [int] NOT NULL,
	[nombre_bebida] [varchar](50) NULL,
	[tipo_bebida] [varchar](50) NULL,
	[id_ingrediente] [int] NULL,
 CONSTRAINT [PK_Almacen Bebidas] PRIMARY KEY CLUSTERED 
(
	[id_bebida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo de puesto]    Script Date: 17/10/2018 17:25:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo de puesto](
	[id_puesto] [int] NOT NULL,
	[nombre_puesto] [varchar](50) NULL,
 CONSTRAINT [PK_Tipo de puesto] PRIMARY KEY CLUSTERED 
(
	[id_puesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Almacen alimentos] ([id_alimento], [nombre_alimento], [id_ingrediente]) VALUES (1213, N'Hamburguesa', 1213)
GO
INSERT [dbo].[Almacen alimentos] ([id_alimento], [nombre_alimento], [id_ingrediente]) VALUES (3434, N'Tacos de Carne asada', 3434)
GO
INSERT [dbo].[Almacen alimentos] ([id_alimento], [nombre_alimento], [id_ingrediente]) VALUES (4523, N'Burrito', 2432)
GO
INSERT [dbo].[Almacen Bebidas] ([id_bebida], [nombre_bebida], [tipo_bebida], [id_ingrediente]) VALUES (534, N'Whisky con cola', N'Alcohol', 7888)
GO
INSERT [dbo].[Almacen Bebidas] ([id_bebida], [nombre_bebida], [tipo_bebida], [id_ingrediente]) VALUES (636, N'De la huerta', N'Sin alcohol', 123)
GO
INSERT [dbo].[Almacen Bebidas] ([id_bebida], [nombre_bebida], [tipo_bebida], [id_ingrediente]) VALUES (663, N'Destornillador sin alcohol', N'Sin Alcohol', 123)
GO
INSERT [dbo].[Empleado] ([id_empleado], [nombre_empleado], [apellidopat], [apellidomat], [municipio], [edad], [telefono], [correo], [sueldo], [id_puesto]) VALUES (6, N'Jorge ', N'Ruan', N'Monsivais', N'Guadalupe', 19, 894736485, N'jorge@gmail.com', 2000, 1)
GO
INSERT [dbo].[Empleado] ([id_empleado], [nombre_empleado], [apellidopat], [apellidomat], [municipio], [edad], [telefono], [correo], [sueldo], [id_puesto]) VALUES (7, N'Carlos', N'Rodriguez', N'Zepeda', N'Juarez', 20, 849203948, N'carlos@gmail.com', 2000, 1)
GO
INSERT [dbo].[Empleado] ([id_empleado], [nombre_empleado], [apellidopat], [apellidomat], [municipio], [edad], [telefono], [correo], [sueldo], [id_puesto]) VALUES (8, N'Ricardo', N'Martinez', N'Guadalupe', N'Guadalupe', 20, 839102931, N'ricardo@gmail.com', 2000, 1)
GO
INSERT [dbo].[Ingredientes] ([id_ingrediente], [name_ingrediente]) VALUES (123, N'Sin Alcohol')
GO
INSERT [dbo].[Ingredientes] ([id_ingrediente], [name_ingrediente]) VALUES (1213, N'Pan,Carne de hamburguesa,Lechuga,Tomate,Mayonesa,Jamon,Queso amarillo,')
GO
INSERT [dbo].[Ingredientes] ([id_ingrediente], [name_ingrediente]) VALUES (2432, N'Tortilla de arina, carne asada,aguacate,queso')
GO
INSERT [dbo].[Tipo de puesto] ([id_puesto], [nombre_puesto]) VALUES (1, N'Barman')
GO
INSERT [dbo].[Tipo de puesto] ([id_puesto], [nombre_puesto]) VALUES (2, N'Meseros')
GO
INSERT [dbo].[Tipo de puesto] ([id_puesto], [nombre_puesto]) VALUES (3, N'Cocineros')
GO
ALTER TABLE [dbo].[Almacen alimentos]  WITH CHECK ADD  CONSTRAINT [FK_Almacen alimentos_Ingredientes] FOREIGN KEY([id_ingrediente])
REFERENCES [dbo].[Ingredientes] ([id_ingrediente])
GO
ALTER TABLE [dbo].[Almacen alimentos] CHECK CONSTRAINT [FK_Almacen alimentos_Ingredientes]
GO
ALTER TABLE [dbo].[Almacen Bebidas]  WITH CHECK ADD  CONSTRAINT [FK_Almacen Bebidas_Ingredientes] FOREIGN KEY([id_ingrediente])
REFERENCES [dbo].[Ingredientes] ([id_ingrediente])
GO
ALTER TABLE [dbo].[Almacen Bebidas] CHECK CONSTRAINT [FK_Almacen Bebidas_Ingredientes]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Tipo de puesto] FOREIGN KEY([id_puesto])
REFERENCES [dbo].[Tipo de puesto] ([id_puesto])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Tipo de puesto]
GO

SELECT *
FROM(SELECT edad, COUNT(edad) as [Cantidad]
FROM Empleado
GROUP BY edad) as NC
WHERE NC.Cantidad > 0

SELECT *
FROM(SELECT id_empleado, COUNT(id_empleado) as [Cantidad]
FROM Empleado
GROUP BY id_empleado) as NC
WHERE NC.id_empleado > 0

SELECT top 1 *
FROM(SELECT edad, 
(SELECT COUNT(edad)
FROM Empleado as Emp
WHERE Emp.edad <Empleado.edad) as 'cantidad'
FROM Empleado)
as NC



WITH SumaEmpleados as (SELECT edad, MIN(edad) as Cantidad	
FROM Empleado 
GROUP BY edad)

SELECT *
FROM SumaEmpleados
WHERE SumaEmpleados.Cantidad > 1



DECLARE @Consulta NVARCHAR(MAX)
DECLARE @Tabla NVARCHAR(MAX)

SET @Tabla = 'Empleado'
SET @Consulta = 'SELECT * FROM ' + @Tabla

EXEC(@Consulta)