USE [master]
GO

/****** Object:  Database [BD]    Script Date: 08/09/2018 11:55:11 a. m. ******/
DROP DATABASE [BD]
GO

/****** Object:  Database [BD]    Script Date: 08/09/2018 11:55:11 a. m. ******/
CREATE DATABASE [BD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [BD]
GO

USE [BD]
GO
/****** Object:  Table [dbo].[alumno]    Script Date: 08/09/2018 11:54:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alumno](
	[id_alumno] [int] NULL,
	[nombre] [varchar](30) NULL,
	[apellido] [varchar](30) NULL,
	[tel_alumno] [char](9) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carrera]    Script Date: 08/09/2018 11:54:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carrera](
	[id_carrera] [int] NULL,
	[nombre_carre] [varchar](50) NULL,
	[creditos] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facultades]    Script Date: 08/09/2018 11:54:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facultades](
	[id_facu] [int] NULL,
	[nombre_facu] [varchar](60) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materias]    Script Date: 08/09/2018 11:54:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materias](
	[id_materia] [int] NULL,
	[nombre_materia] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesores]    Script Date: 08/09/2018 11:54:33 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesores](
	[id_profesor] [int] NULL,
	[nombre_profesor] [varchar](30) NULL,
	[ape_profesor] [varchar](50) NULL,
	[tel_profesor] [char](9) NULL
) ON [PRIMARY]
GO
